<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-5">
    <div class="table-pad">
      <h4> Filter on column End Date </h4>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <label>Start Date: &nbsp;</label>
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <div class="btn-group mr-3">
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" ngbDropdownToggle></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br/>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <label>End Date: &nbsp;&nbsp;&nbsp;</label>
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
            <div class="input-group-append">
              <div class="btn-group mr-3">
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-outline-secondary" (click)="d2.toggle()" ngbDropdownToggle></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-xl-6 ol-lg-6 cal-btn">
        <button class="btn btn-outline-secondary" (click)="applyFilter()">Submit</button>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6 col-lg-7 col-xl-7">
    <div class="table-pad">
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <!-- City Column -->
          <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header> City</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.city}}%</mat-cell>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="startdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.startdate | date}} </mat-cell>
          </ng-container>

          <!-- End date Column -->
          <ng-container matColumnDef="enddate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.enddate | date}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <!--          <ng-container matColumnDef="color">-->
          <!--            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>-->
          <!--            <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>-->
          <!--          </ng-container>-->

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prices</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row" style="text-align: center">
              <button (click)="deleteRecord(row.id)" type="button" class="btn btn-sm btn-danger">Del</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>

</div>


<div class="loading" *ngIf="isLoading">Loading&#8230;</div>
